*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

:root{
    --bool-black: #000000;
    --bool-gray: #cfd5d9;
    --bool-primary: #14aaf5;
    --bool-secondary: #ab5de6;
    --bool-acqua: #2cc6ab;
    --bool-orange: #ff9b00;
    --bool-pink: #ec4a9d;
    --bool-green: #a3d116;
    --bool-graybody: #f6f8f9;
}

body{
    background-color: var(--bool-graybody);
}

header{
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

/* #region utilities */
.container{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 1rem 2.5rem;
}

.extra-padding{
    padding: 0 0.2rem;
}

/* #endregion utilities */

/* #region Header */

#logo-img{
    vertical-align: middle;
}

#logo-title{
    display: inline-block;
    vertical-align: middle;    
}

/* #endregion Header */

/* #region nav */
.nav-input{
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--bool-gray);
    font-size: 11px;
}

#add-task{
    background-color: var(--bool-primary);
    color: white;
}

#add-section{
    background-color: white;
    color: var(--bool-gray);
}
/* #endregion nav */

/* #region main */
section{
    margin-bottom: 2rem;
}

.things-to-do{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.green-mark{
    color: var(--bool-acqua);
    border: 1px solid var(--bool-acqua);
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.red-mark{
    color: red;
    border: 1px solid red;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.tags-buttom{
    padding: 0.3rem 0.7rem;
    border-radius: 1.7rem;
    font-size: 11px;
    color: white;
}

.primary-color{
    border: 1px solid var(--bool-primary);
    background-color: var(--bool-primary);
}

.secondary-color{
    border: 1px solid var(--bool-secondary);
    background-color: var(--bool-secondary); 
}

.green-color{
    border: 1px solid var(--bool-acqua);
    background-color: var(--bool-acqua); 
}

.orange-color{
    border: 1px solid var(--bool-orange);
    background-color: var(--bool-orange); 
}

.pink-color{
    border: 1px solid var(--bool-pink);
    background-color: var(--bool-pink); 
}

.lightgreen-color{
    border: 1px solid var(--bool-green);
    background-color: var(--bool-green); 
}
/* #endregion main */
